{% extends 'Photographe/base.html' %}

{% block content %}
    <main class="mentions">
        <h1>Mentions Légales</h1>

        <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l'économie numérique, il est précisé aux utilisateurs du site photojay l'identité des différents intervenants dans le cadre de sa réalisation et de son suivi.
        </p>

        <h2>WEBMASTER & PROPRIETAIRE DU SITE</h2>
        <p>Propriétaire : Jeannot Moise GOUGNON, résidant Chemin du chemin toulouse, de nationalité Française (France), né le 01/01/2000,  inscrit au R.C.S. de TOULOUSE sous le numéro RCS VANNES B 514 919 844.<br><br>

        Webmaster : LAZZARINI Clément, www.clementlazzarini.com</p>
            

        <h2>HEBERGEMENT</h2>
        <p>L'hébergeur du Site est la société PythonAnywhere LLP, dont le siège social est situé au 5 The Green, Richmond TW9 1 PLUnited Kingdom, support@pythonanywhere.com.</p>

        <h2>ACCES AU SITE</h2>
        <p>Le Site est accessible en tout endroit, 7j/7, 24h/24 sauf cas de force majeure, interruption programmée ou non et pouvant découlant d’une nécessité de maintenance.<br><br>

        En cas de modification, interruption ou suspension du Site, l'Editeur ne saurait être tenu responsable.</p>

        <h2>COLLECTE DES DONNEES</h2>
        <p>Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les utilisateurs.</p>

        <h2>PROPRIÉTÉ INTELLECTUELLE ET CONTREFAÇONS</h2>
        <p>Le proprietaire du site est propriétaire des droits de propriété intellectuelle ou détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, graphismes, logo, icônes, sons, logiciels… Toute reproduction, représentation, modification, publication, adaptation totale ou partielle des éléments du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable à l'email : contact@intuitive-conception.com  . Toute exploitation non autorisée du site ou de l’un quelconque de ces éléments qu’il contient sera considérée comme constitutive d’une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.</p>

        <h2>PROTECTION DES BIENS ET DES PERSONNES - GESTION DES DONNÉES PERSONNELLES</h2>
        <p>Utilisateur : Internaute se connectant, utilisant le site susnommé : www.jay.com En France, les données personnelles sont notamment protégées par la loi n° 78-87 du 6 janvier 1978, la loi n° 2004-801 du 6 août 2004, l'article L. 226-13 du Code pénal et la Directive Européenne du 24 octobre 1995.<br><br>

        Le site est exempté de déclaration à la Commission Nationale Informatique et Libertés (CNIL) dans la mesure où il ne collecte aucune donnée concernant les utilisateurs.<br><br>
            
        Les bases de données sont protégées par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative à la protection juridique des bases de données.</p>
    </main>
{% endblock %}


{% block javascript %}
{% endblock %}