{% extends 'Photographe/base.html' %}

{% block content %}
<main class="portfolio">
    <h1>Portfolio</h1>
    <div class="select">
        <select name="category" id="category-select">
            <option value="">-- Choisissez une catégorie --</option>
            {% for categorie in categories %}
                <option value="{{ categorie.name }}" {% if selected_category == categorie.name %}selected{% endif %}>{{ categorie.name }}</option>
            {% endfor %}
        </select>
    </div>

    <section class="portfolio-grid">
    {% for media in medias %}
        {% if media.media_type == 'image' %}
            {% if media.image %}
            <a href="{{ media.image.url }}">
                <img src="{{ media.image.url }}" alt="{{ media.title }}">
            </a>
            {% endif %}
        {% elif media.media_type == 'video' %}
            {% if media.video %}
            <a href="{{ media.video.url }}">
                <video controls>
                    <source src="{{ media.video.url }}" type="video/mp4" />
                    <p>Votre navigateur ne prend pas en charge les vidéos HTML5.</p>
                </video>
            </a>
            {% endif %}
        {% endif %}
    {% endfor %}
</section>

</main>
{% endblock %}


{% block javascript %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    const categorySelect = document.getElementById('category-select');
    categorySelect.addEventListener('change', function () {
        const selectedCategory = categorySelect.value;
        window.location.href = `/portfolio/?category=${selectedCategory}`;
    });
});
</script>

{% endblock %}